In [1]:

# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables  ktest,
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

from scipy.stats import f_oneway

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

C:\Users\karin\AppData\Local\Temp\ipykernel_9260\3304024480.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Pair programming Estadística Inferencial
### **Ejercicios estadística inferencial**

**1. Igual que en los ejercicios de la clase invertida, evalúa si las siguientes afirmaciones corresponden a una distribución exponencial o poisson.**

¿El tiempo que transcurre entre la llegada de autobuses a una parada sigue una distribución exponencial o de Poisson?

Distribución exponencial ya que lo que sucede se da en un tiempo aleatorio (de espera). Su característica principal es la tasa de llegada.


¿El número de errores en un artículo de noticias sigue una distribución exponencial o de Poisson?

Distribución de Poisson, ya que modela la probabilidad de un número dado de eventos, en este caso el número de errores que ocurren en un intervalo fijo de tiempo o espacio que en este caso es el artículo de noticias.


¿El tiempo que transcurre entre la llegada de solicitudes de servicio en un restaurante sigue una distribución exponencial o de Poisson?

Distribución exponencial ya que se utiliza para modelar el tiempo entre eventos, como tiempos de espera. En nuestro caos el tiempo que transcurre entre la llegada de solicitudes de servicio.


¿El número de accidentes de tráfico en una hora en una ciudad sigue una distribución exponencial o de Poisson?

Distribución de Poisson ya que modela la probabilidad de un número dado de eventos, en este caso el número de accidentes de tráfico que ocurren en un intervalo fijo de tiempo o espacio que en este caso es en una hora en una ciudad.


¿El tiempo entre llegadas de llamadas telefónicas a una central de emergencias sigue una distribución exponencial o de Poisson?

Distribución exponencial ya que se utiliza para modelar el tiempo entre eventos, como tiempos de espera. En nuestro caos el tiempo que transcurre entre llamadas telefónicas a una central de emergencias.


¿El número de clientes que ingresan a una tienda en una hora sigue una distribución exponencial o de Poisson?

Distribución de Poisson, ya que modela la probabilidad de un número dado de eventos, en este caso el número de clientes que ocurren en un intervalo fijo de tiempo o espacio que ingresan a una tienda en una hora.


¿El tiempo entre llegadas de correos electrónicos en una bandeja de entrada sigue una distribución exponencial o de Poisson?

Distribución exponencial, ya que se utiliza para moelar el tiempo entre llegadas de correos electrónicos en una bandeja de entrada.


¿El número de defectos en una línea de producción por día sigue una distribución exponencial o de Poisson?

Distribución de Poisson, ya que nos dice la probabilidad de un número de defectos en una línea de producción por día.


¿El tiempo que transcurre entre la llegada de taxis en una parada sigue una distribución exponencial o de Poisson?

Distribución exponencial, ya que se utiliza para modelar el tiempo que transcurre en una parada de taxis y la llegada de los mismos. Tiempo aleatorio y variable.


¿El número de errores de ortografía en un libro de texto sigue una distribución exponencial o de Poisson?

Distribución de Poisson ya que nos dice la probabilidad del número de errores de ortografía en un libro de texto.

In [2]:
# Abrimos y exploramos el dataframe
df = pd.read_csv("files/world_data_full_apply_nulos.csv", index_col=0)
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa

In [3]:
# Creamos un data framer para gestionar los nulos 
df_nulos = pd.DataFrame((df.isnull().sum() / df.shape[0]) * 100, columns = ["%_nulos"])

# filtramos el DataFrame para quedarnos solo con aquellas columnas que tengan nulos
df_nulos[df_nulos["%_nulos"] > 0]

                                        %_nulos
abbreviation                           3.589744
agricultural_land                      3.589744
land_area                             15.384615
armed_forces_size                     14.871795
birth_rate                             3.076923
calling_code                           0.512821
capital/major_city                     1.538462
co2-emissions                          6.153846
cpi                                   10.256410
cpi_change                             8.205128
currency-code                          7.692308
fertility_rate                         3.589744
forested_area                          3.589744
gasoline_price                        10.256410
gdp                                    1.025641
gross_primary_education_enrollment     3.589744
gross_tertiary_education_enrollment    6.153846
infant_mortality                       3.076923
largest_city                           3.076923
life_expectancy                        4.102564
maternal_mortality_ratio               7.179487
minimum_wage                          23.076923
official_language                      2.564103
out_of_pocket_health_expenditure       3.589744
physicians_per_thousand                3.589744
population                            80.000000
population_labor_force_participation   9.743590
tax_revenue                           13.333333
total_tax_rate                         6.153846
unemployment_rate                      9.743590
urban_population                      76.923077
latitude                               0.512821
longitude                              0.512821
continent                              0.512821

In [4]:
# Obtenemos la lista de columnas categóricas que tienen nulos
nulos_esta_cat = df[df.columns[df.isnull().any()]].select_dtypes(include = "O").columns
print("Las columnas categóricas que tienen nulos son : \n ")
print(nulos_esta_cat)

Las columnas categóricas que tienen nulos son :

Index(['abbreviation', 'capital/major_city', 'currency-code', 'largest_city',
       'official_language', 'continent'],
      dtype='object')

In [5]:
# sacamos el 'value_counts()' de cada una de las columnas categóricas que tienen nulos para saber como es la distribución de sus categorías
for col in nulos_esta_cat:
    print(f"La distribución de las categorías para la columna {col.upper()}")
    display(df[col].value_counts() / df.shape[0])
    print("........................")

La distribución de las categorías para la columna ABBREVIATION

abbreviation
AF    0.005128
PY    0.005128
NE    0.005128
NG    0.005128
KP    0.005128
        ...
GR    0.005128
GD    0.005128
GT    0.005128
GN    0.005128
ZW    0.005128
Name: count, Length: 188, dtype: float64

........................
La distribución de las categorías para la columna CAPITAL/MAJOR_CITY

capital/major_city
Kabul                    0.005128
Tirana                   0.005128
Wellington               0.005128
Managua                  0.005128
Niamey                   0.005128
                           ...
Athens                   0.005128
St. George's, Grenada    0.005128
Guatemala City           0.005128
Conakry                  0.005128
Harare                   0.005128
Name: count, Length: 192, dtype: float64

........................
La distribución de las categorías para la columna CURRENCY-CODE

currency-code
EUR    0.117949
XOF    0.041026
XCD    0.030769
USD    0.030769
XAF    0.025641
         ...
GMD    0.005128
FJD    0.005128
ETB    0.005128
ERN    0.005128
ZMW    0.005128
Name: count, Length: 133, dtype: float64

........................
La distribución de las categorías para la columna LARGEST_CITY

largest_city
S����                    0.010256
Panama City              0.005128
Managua                  0.005128
Niamey                   0.005128
Lagos                    0.005128
                           ...
Macedonia                0.005128
St. George's, Grenada    0.005128
Guatemala City           0.005128
Kankan                   0.005128
Harare                   0.005128
Name: count, Length: 188, dtype: float64

........................
La distribución de las categorías para la columna OFFICIAL_LANGUAGE

official_language
English             0.158974
French              0.128205
Spanish             0.097436
Arabic              0.092308
Portuguese          0.035897
                      ...
Albanian            0.005128
Jamaican English    0.005128
Lao                 0.005128
Latvian             0.005128
Shona               0.005128
Name: count, Length: 76, dtype: float64

........................
La distribución de las categorías para la columna CONTINENT

continent
Africa             0.271795
Europe             0.241026
Asia               0.230769
Central America    0.102564
Oceania            0.071795
South America      0.066667
North America      0.010256
Name: count, dtype: float64

........................

In [6]:
# iteramos por la lista de columnas a las que le vamos a cambiar los nulos por "Uknown"
for columna in nulos_esta_cat:
    
    # reemplazamos los nulos por el valor Unknown para cada una de las columnas de la lista
    df[columna] = df[columna].fillna("Unknown")
    
# comprobamos si quedan nulos en las columnas categóricas. 
print("Después del reemplazo usando 'fillna' quedan los siguientes nulos")
df[nulos_esta_cat].isnull().sum()

Después del reemplazo usando 'fillna' quedan los siguientes nulos

abbreviation          0
capital/major_city    0
currency-code         0
largest_city          0
official_language     0
continent             0
dtype: int64

In [7]:
# Obtenemos la lista de columnas numéricas que tienen nulos
nulos_esta_num = df[df.columns[df.isnull().any()]].select_dtypes(include = np.number).columns
print("Las columnas numéricas que tienen nulos son : \n ")
print(nulos_esta_num)

Las columnas numéricas que tienen nulos son :

Index(['agricultural_land', 'land_area', 'armed_forces_size', 'birth_rate',
       'calling_code', 'co2-emissions', 'cpi', 'cpi_change', 'fertility_rate',
       'forested_area', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'life_expectancy', 'maternal_mortality_ratio', 'minimum_wage',
       'out_of_pocket_health_expenditure', 'physicians_per_thousand',
       'population', 'population_labor_force_participation', 'tax_revenue',
       'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitude',
       'longitude'],
      dtype='object')

In [8]:
# lo primero que vamos a hacer es calcular el número de nulos que tenemos en cada una de las columnas numericas
df[nulos_esta_num].isnull().sum() / df.shape[0]

agricultural_land                       0.035897
land_area                               0.153846
armed_forces_size                       0.148718
birth_rate                              0.030769
calling_code                            0.005128
co2-emissions                           0.061538
cpi                                     0.102564
cpi_change                              0.082051
fertility_rate                          0.035897
forested_area                           0.035897
gasoline_price                          0.102564
gdp                                     0.010256
gross_primary_education_enrollment      0.035897
gross_tertiary_education_enrollment     0.061538
infant_mortality                        0.030769
life_expectancy                         0.041026
maternal_mortality_ratio                0.071795
minimum_wage                            0.230769
out_of_pocket_health_expenditure        0.035897
physicians_per_thousand                 0.035897
population                              0.800000
population_labor_force_participation    0.097436
tax_revenue                             0.133333
total_tax_rate                          0.061538
unemployment_rate                       0.097436
urban_population                        0.769231
latitude                                0.005128
longitude                               0.005128
dtype: float64

In [9]:
nulos_media = ['birth_rate', 'gasoline_price', 'infant_mortality', 'maternal_mortality_ratio', 'minimum_wage','cpi', 'fertility_rate', 'gross_primary_education_enrollment',
           'life_expectancy']  

nulos_vecinos = ['agricultural_land','forested_area', 'gdp','gross_tertiary_education_enrollment', 'population', 'population_labor_force_participation', 'tax_revenue',
       'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitude','urban_population',
       'longitude']
nulos_iterative =  ['land_area', 'armed_forces_size','calling_code', 'co2-emissions','cpi_change', 'fertility_rate', 'gdp', 'out_of_pocket_health_expenditure', 'physicians_per_thousand',
       'tax_revenue','total_tax_rate', 'latitude','longitude']

In [10]:
# calculamos la media para las columnas correspondientes 
for col in nulos_media:
    
    media = df[col].mean()
    print(f"La media de {col} es: {round(media, 2)}")

    # aplicamos el método 'fillna()' a la columna
    df[col] = df[col].fillna(media)

    # comprobamos los nulos para la columna
    print(f"Después del 'fillna' tenemos {df[col].isnull().sum()} nulos")

La media de birth_rate es: 20.21
Después del 'fillna' tenemos 0 nulos
La media de gasoline_price es: 1.0
Después del 'fillna' tenemos 0 nulos
La media de infant_mortality es: 21.33
Después del 'fillna' tenemos 0 nulos
La media de maternal_mortality_ratio es: 160.39
Después del 'fillna' tenemos 0 nulos
La media de minimum_wage es: 2.19
Después del 'fillna' tenemos 0 nulos
La media de cpi es: 144.19
Después del 'fillna' tenemos 0 nulos
La media de fertility_rate es: 2.7
Después del 'fillna' tenemos 0 nulos
La media de gross_primary_education_enrollment es: 102.47
Después del 'fillna' tenemos 0 nulos
La media de life_expectancy es: 72.28
Después del 'fillna' tenemos 0 nulos

In [11]:
for col in nulos_iterative:
    # hemos dicho que para las tres columnas restantes aplicaremos los dos métodos para luego compararlos, empezaremos por el IterativeImputer
    # instanciamos las clases
    imputer_iterative = IterativeImputer(max_iter = 20, random_state = 42)

    # ajustamos y tranformamos los datos
    imputer_iterative_imputado = imputer_iterative.fit_transform(df[[col]])

    # en este caso como vamos a aplicar los dos métodos sobre estas columnas vamos a crear dos columnas nuevas
    df[[col]] = imputer_iterative_imputado

    # comprobamos los nulos
    print(f"Después del 'Iterative' tenemos: \n{df[[col]].isnull().sum()} nulos")

Después del 'Iterative' tenemos:
land_area    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
armed_forces_size    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
calling_code    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
co2-emissions    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
cpi_change    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
fertility_rate    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
gdp    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
out_of_pocket_health_expenditure    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
physicians_per_thousand    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
tax_revenue    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
total_tax_rate    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
latitude    0
dtype: int64 nulos
Después del 'Iterative' tenemos:
longitude    0
dtype: int64 nulos

In [12]:
for col in nulos_vecinos:
    # instanciamos la clase del KNNImputer
    imputer_knn = KNNImputer(n_neighbors = 5)

    # ajustamos y transformamos los datos
    imputer_knn_imputado = imputer_knn.fit_transform(df[[col]])

    # comprobamos que es lo que nos devuelve, que sigue siendo un array
    imputer_knn_imputado
    
    # en este caso como vamos a aplicar los dos métodos sobre estas columnas vamos a crear dos columnas nuevas
    df[[col]] = imputer_knn_imputado

    # comprobamos los nulos
    print(f"Después del 'KNNI' tenemos: \n{df[[col]].isnull().sum()} nulos")

Después del 'KNNI' tenemos:
agricultural_land    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
forested_area    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
gdp    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
gross_tertiary_education_enrollment    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
population    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
population_labor_force_participation    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
tax_revenue    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
total_tax_rate    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
unemployment_rate    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
urban_population    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
latitude    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
urban_population    0
dtype: int64 nulos
Después del 'KNNI' tenemos:
longitude    0
dtype: int64 nulos

In [13]:
# lo convertimos a DataFrame
df_nulos = pd.DataFrame((df.isnull().sum() / df.shape[0]) * 100, columns = ["%_nulos"])

df_nulos

                                      %_nulos
country                                   0.0
density                                   0.0
abbreviation                              0.0
agricultural_land                         0.0
land_area                                 0.0
armed_forces_size                         0.0
birth_rate                                0.0
calling_code                              0.0
capital/major_city                        0.0
co2-emissions                             0.0
cpi                                       0.0
cpi_change                                0.0
currency-code                             0.0
fertility_rate                            0.0
forested_area                             0.0
gasoline_price                            0.0
gdp                                       0.0
gross_primary_education_enrollment        0.0
gross_tertiary_education_enrollment       0.0
infant_mortality                          0.0
largest_city                              0.0
life_expectancy                           0.0
maternal_mortality_ratio                  0.0
minimum_wage                              0.0
official_language                         0.0
out_of_pocket_health_expenditure          0.0
physicians_per_thousand                   0.0
population                                0.0
population_labor_force_participation      0.0
tax_revenue                               0.0
total_tax_rate                            0.0
unemployment_rate                         0.0
urban_population                          0.0
latitude                                  0.0
longitude                                 0.0
continent                                 0.0


**2. Ejercicios intervalo de confianza. Al igual que en el caso del ejercicio de la clase invertida, piensa un motivo por el que sería interesante calcular estos intervalos de confianza para la extracción de insights.**

Intervalo de Confianza para la Esperanza de Vida

Contexto: Trabajas en una organización de salud global y deseas estimar el intervalo de confianza al 95% para la esperanza de vida promedio de cada continente.

Nota: Cuidado porque puede que os salgan algunos nulos, genera un código para que no salgan nulos en los intervalos de confianza.

In [14]:
# lo primero que tenemos que hacer es calcular la estimación puntual, en este caso calcularemos la media de la duración de las llamadas
media_duracion= df.groupby("continent")["life_expectancy"].mean()


# después vamos a calcular el error estándar utilizando el método "sem" de la librería stats
error_duracion = stats.sem(df["life_expectancy"])

# definimos el nivel de confianza (95% en este caso)
nivel_confianza_duracion = 0.95

# calculamos los grados de libertad de la muestra. Recordad que debemos restar el total de datos que tenemos -1. 
grados_libertad_duracion = len(df["life_expectancy"]) - 1

# calculamos el valor crítico de la muestra
valor_critico_duracion = stats.t.ppf((1 + nivel_confianza_duracion) / 2, df=grados_libertad_duracion)

# calculamos el intervalo de confianza

limite_inferior_duracion = media_duracion - valor_critico_duracion * error_duracion
limite_superior_duracion = media_duracion + valor_critico_duracion * error_duracion

limit_no_nan_inf = []
for limit in limite_inferior_duracion:
    if not np.isnan(limit):
        limit_no_nan_inf.append(limit)
      
limit_no_nan_sup = []    
for limit in limite_superior_duracion:
    if not np.isnan(limit):
        limit_no_nan_sup.append(limit)
       

print("Intervalo de Confianza para esperanza de vida por continente:")
print(f"Media Muestral: {np.round(media_duracion, 2)}")
print(f"Error Estándar: {np.round(error_duracion, 2)}")
print(f"Nivel de Confianza: {nivel_confianza_duracion}")
print(f"Valor Crítico: {np.round(valor_critico_duracion, 2)}")
print(f"Intervalo de Confianza: ({np.round(limit_no_nan_inf, 2)}, {np.round(limit_no_nan_sup, 2)})")

Intervalo de Confianza para esperanza de vida por continente:
Media Muestral: continent
Africa             63.89
Asia               73.75
Central America    74.69
Europe             78.61
North America      80.20
Oceania            71.29
South America      74.82
Unknown            70.20
Name: life_expectancy, dtype: float64
Error Estándar: 0.52
Nivel de Confianza: 0.95
Valor Crítico: 1.97
Intervalo de Confianza: ([62.85 72.71 73.66 77.58 79.17 70.26 73.78 69.17], [64.92 74.78 75.72 79.65 81.23 72.32 75.85 71.23])


Intervalo de Confianza para el PIB

Contexto: Eres una economista y quieres calcular el intervalo de confianza al 90% para el Producto Interno Bruto (PIB) de los continentes.

In [15]:
# lo primero que tenemos que hacer es calcular la estimación puntual, en este caso calcularemos la media de la duración de las llamadas
media_duracion = df.groupby("continent")["gdp"].mean()


# después vamos a calcular el error estándar utilizando el método "sem" de la librería stats
error_duracion = stats.sem(df["gdp"])

# definimos el nivel de confianza (90% en este caso)
nivel_confianza_duracion = 0.90

# calculamos los grados de libertad de la muestra. Recordad que debemos restar el total de datos que tenemos -1. 
grados_libertad_duracion = len(df["gdp"]) - 1

# calculamos el valor crítico de la muestra
valor_critico_duracion = stats.t.ppf((1 + nivel_confianza_duracion) / 2, df=grados_libertad_duracion)

# calculamos el intervalo de confianza

limite_inferior_duracion = media_duracion - valor_critico_duracion * error_duracion
limite_superior_duracion = media_duracion + valor_critico_duracion * error_duracion

print("Intervalo de Confianza para PIB por continente:")
print(f"Media Muestral: {np.round(media_duracion, 2)}")
print(f"Error Estándar: {np.round(error_duracion, 2)}")
print(f"Nivel de Confianza: {nivel_confianza_duracion}")
print(f"Valor Crítico: {np.round(valor_critico_duracion, 2)}")
print(f"Intervalo de Confianza: ({np.round(limite_inferior_duracion, 2)}, {np.round(limite_superior_duracion, 2)})")

Intervalo de Confianza para PIB por continente:
Media Muestral: continent
Africa             4.608056e+10
Asia               8.291975e+11
Central America    8.847993e+10
Europe             4.865471e+11
North America      1.158206e+13
Oceania            1.167886e+11
South America      2.984337e+11
Unknown            4.290166e+08
Name: gdp, dtype: float64
Error Estándar: 154748670563.96
Nivel de Confianza: 0.9
Valor Crítico: 1.65
Intervalo de Confianza: (continent
Africa            -2.096797e+11
Asia               5.734373e+11
Central America   -1.672803e+11
Europe             2.307868e+11
North America      1.132630e+13
Oceania           -1.389717e+11
South America      4.267344e+10
Unknown           -2.553312e+11
Name: gdp, dtype: float64, continent
Africa             3.018408e+11
Asia               1.084958e+12
Central America    3.442402e+11
Europe             7.423073e+11
North America      1.183782e+13
Oceania            3.725488e+11
South America      5.541939e+11
Unknown            2.561893e+11
Name: gdp, dtype: float64)


Intervalo de Confianza para la Tasa de Natalidad

Contexto: Trabajas en una agencia gubernamental que se ocupa de cuestiones demográficas y deseas determinar el intervalo de confianza al 99% para la tasa de natalidad promedio en Asia.

In [16]:
# Filtrar los datos solo para Asia
df_asia = df[df["continent"] == "Asia"]

# Cálculo de la media de la tasa de fertilidad en Asia
media_duracion = df_asia["fertility_rate"].mean()

# Cálculo del error estándar para la tasa de fertilidad en Asia
error_duracion = stats.sem(df_asia["fertility_rate"])

# Definición del nivel de confianza (99% en este caso)
nivel_confianza_duracion = 0.99

# Cálculo de los grados de libertad de la muestra
grados_libertad_duracion = len(df_asia["fertility_rate"]) - 1

# Cálculo del valor crítico
valor_critico_duracion = stats.t.ppf((1 + nivel_confianza_duracion) / 2, df=grados_libertad_duracion)

# Cálculo del intervalo de confianza
limite_inferior_duracion = media_duracion - valor_critico_duracion * error_duracion
limite_superior_duracion = media_duracion + valor_critico_duracion * error_duracion

# Impresión de resultados
print("Intervalo de Confianza para tasa de fertilidad en Asia:")
print(f"Media Muestral: {np.round(media_duracion, 2)}")
print(f"Error Estándar: {np.round(error_duracion, 2)}")
print(f"Nivel de Confianza: {nivel_confianza_duracion}")
print(f"Valor Crítico: {np.round(valor_critico_duracion, 2)}")
print(f"Intervalo de Confianza: ({np.round(limite_inferior_duracion, 2)}, {np.round(limite_superior_duracion, 2)})")

Intervalo de Confianza para tasa de fertilidad en Asia:
Media Muestral: 2.4
Error Estándar: 0.11
Nivel de Confianza: 0.99
Valor Crítico: 2.69
Intervalo de Confianza: (2.09, 2.71)


Intervalo de Confianza para la Tasa de Desempleo

Contexto: Eres un analista de políticas públicas y deseas calcular el intervalo de confianza al 95% para la tasa de desempleo promedio en los países de Oceanía.

In [17]:
# Filtrar los datos solo para Oceanía
df_oceania = df[df["continent"] == "Oceania"]

# Cálculo de la media de la tasa de desempleo en los países de Oceanía
media_duracion = df_oceania.groupby("country")["unemployment_rate"].mean()

# Cálculo del error estándar para la tasa de desempleo en países de Oceanía
error_duracion = stats.sem(df_oceania["unemployment_rate"])

# Definición del nivel de confianza (95% en este caso)
nivel_confianza_duracion = 0.95

# Cálculo de los grados de libertad de la muestra
grados_libertad_duracion = len(df_oceania["unemployment_rate"]) - 1

# Cálculo del valor crítico
valor_critico_duracion = stats.t.ppf((1 + nivel_confianza_duracion) / 2, df=grados_libertad_duracion)

# Cálculo del intervalo de confianza
limite_inferior_duracion = media_duracion - valor_critico_duracion * error_duracion
limite_superior_duracion = media_duracion + valor_critico_duracion * error_duracion

# Impresión de resultados
print("Intervalo de Confianza para la tasa de desempleo en países de Oceanía")
print(f"Media Muestral: {np.round(media_duracion, 2)}")
print(f"Error Estándar: {np.round(error_duracion, 2)}")
print(f"Nivel de Confianza: {nivel_confianza_duracion}")
print(f"Valor Crítico: {np.round(valor_critico_duracion, 2)}")
print(f"Intervalo de Confianza: ({np.round(limite_inferior_duracion, 2)}, {np.round(limite_superior_duracion, 2)})")

Intervalo de Confianza para la tasa de desempleo en países de Oceanía
Media Muestral: country
Australia                         5.27
Federated States of Micronesia    6.89
Fiji                              4.10
Kiribati                          6.89
Marshall Islands                  6.89
Nauru                             6.89
New Zealand                       4.07
Palau                             6.89
Papua New Guinea                  2.46
Samoa                             8.36
Solomon Islands                   0.58
Tonga                             1.12
Tuvalu                            6.89
Vanuatu                           4.39
Name: unemployment_rate, dtype: float64
Error Estándar: 0.64
Nivel de Confianza: 0.95
Valor Crítico: 2.16
Intervalo de Confianza: (country
Australia                         3.88
Federated States of Micronesia    5.49
Fiji                              2.71
Kiribati                          5.49
Marshall Islands                  5.49
Nauru                             5.49
New Zealand                       2.68
Palau                             5.49
Papua New Guinea                  1.07
Samoa                             6.97
Solomon Islands                  -0.81
Tonga                            -0.27
Tuvalu                            5.49
Vanuatu                           3.00
Name: unemployment_rate, dtype: float64, country
Australia                         6.66
Federated States of Micronesia    8.28
Fiji                              5.49
Kiribati                          8.28
Marshall Islands                  8.28
Nauru                             8.28
New Zealand                       5.46
Palau                             8.28
Papua New Guinea                  3.85
Samoa                             9.75
Solomon Islands                   1.97
Tonga                             2.51
Tuvalu                            8.28
Vanuatu                           5.78
Name: unemployment_rate, dtype: float64)


Intervalo de Confianza para la Tasa de Impuestos

Contexto: Trabajas en un ministerio de finanzas y deseas estimar el intervalo de confianza al 90% para la tasa de impuestos promedio en los países de África.

In [18]:
# Filtrar los datos para los países de África.
df_africa = df[df["continent"] == "Africa"]

# Cálculo de la media de la tasa de impuestos promedio en los países de África.
media_duracion = df_africa.groupby("country")["total_tax_rate"].mean()

# Cálculo del error estándar para la tasa de impuestos promedio en los países de África.
error_duracion = stats.sem(df_africa["total_tax_rate"])

# Definición del nivel de confianza (90% en este caso)
nivel_confianza_duracion = 0.90

# Cálculo de los grados de libertad de la muestra
grados_libertad_duracion = len(df_africa["total_tax_rate"]) - 1

# Cálculo del valor crítico
valor_critico_duracion = stats.t.ppf((1 + nivel_confianza_duracion) / 2, df=grados_libertad_duracion)

# Cálculo del intervalo de confianza
limite_inferior_duracion = media_duracion - valor_critico_duracion * error_duracion
limite_superior_duracion = media_duracion + valor_critico_duracion * error_duracion

# Impresión de resultados
print("Intervalo de Confianza para la tasa de impuestos promedio en los países de África.")
print(f"Media Muestral: {np.round(media_duracion, 2)}")
print(f"Error Estándar: {np.round(error_duracion, 2)}")
print(f"Nivel de Confianza: {nivel_confianza_duracion}")
print(f"Valor Crítico: {np.round(valor_critico_duracion, 2)}")
print(f"Intervalo de Confianza: ({np.round(limite_inferior_duracion, 2)}, {np.round(limite_superior_duracion, 2)})")

Intervalo de Confianza para la tasa de impuestos promedio en los países de África.
Media Muestral: country
Algeria                              66.10
Angola                               49.10
Benin                                48.90
Botswana                             25.10
Burkina Faso                         41.30
Burundi                              41.20
Cameroon                             57.70
Cape Verde                           37.50
Central African Republic             73.30
Chad                                 63.50
Comoros                             219.60
Democratic Republic of the Congo     50.70
Djibouti                             37.90
Egypt                                44.40
Equatorial Guinea                    79.40
Eritrea                              83.70
Eswatini                             40.82
Ethiopia                             37.70
Gabon                                47.10
Ghana                                55.40
Guinea                               69.30
Guinea-Bissau                        45.50
Ivory Coast                          50.10
Kenya                                37.20
Lesotho                              13.60
Liberia                              46.20
Libya                                32.60
Madagascar                           38.30
Malawi                               34.50
Mali                                 54.50
Mauritania                           67.00
Mauritius                            22.20
Morocco                              45.80
Mozambique                           36.10
Namibia                              20.70
Niger                                47.20
Nigeria                              34.80
Republic of the Congo                54.30
Rwanda                               33.20
Senegal                              44.80
Seychelles                           30.10
Sierra Leone                         30.70
Somalia                              40.82
South Africa                         29.20
South Sudan                          31.40
Sudan                                45.40
Tanzania                             43.80
The Gambia                           48.40
Togo                                 48.20
Tunisia                              60.70
Uganda                               33.70
Zambia                               15.60
Zimbabwe                             31.60
Name: total_tax_rate, dtype: float64
Error Estándar: 3.89
Nivel de Confianza: 0.9
Valor Crítico: 1.67
Intervalo de Confianza: (country
Algeria                              59.58
Angola                               42.58
Benin                                42.38
Botswana                             18.58
Burkina Faso                         34.78
Burundi                              34.68
Cameroon                             51.18
Cape Verde                           30.98
Central African Republic             66.78
Chad                                 56.98
Comoros                             213.08
Democratic Republic of the Congo     44.18
Djibouti                             31.38
Egypt                                37.88
Equatorial Guinea                    72.88
Eritrea                              77.18
Eswatini                             34.30
Ethiopia                             31.18
Gabon                                40.58
Ghana                                48.88
Guinea                               62.78
Guinea-Bissau                        38.98
Ivory Coast                          43.58
Kenya                                30.68
Lesotho                               7.08
Liberia                              39.68
Libya                                26.08
Madagascar                           31.78
Malawi                               27.98
Mali                                 47.98
Mauritania                           60.48
Mauritius                            15.68
Morocco                              39.28
Mozambique                           29.58
Namibia                              14.18
Niger                                40.68
Nigeria                              28.28
Republic of the Congo                47.78
Rwanda                               26.68
Senegal                              38.28
Seychelles                           23.58
Sierra Leone                         24.18
Somalia                              34.30
South Africa                         22.68
South Sudan                          24.88
Sudan                                38.88
Tanzania                             37.28
The Gambia                           41.88
Togo                                 41.68
Tunisia                              54.18
Uganda                               27.18
Zambia                                9.08
Zimbabwe                             25.08
Name: total_tax_rate, dtype: float64, country
Algeria                              72.62
Angola                               55.62
Benin                                55.42
Botswana                             31.62
Burkina Faso                         47.82
Burundi                              47.72
Cameroon                             64.22
Cape Verde                           44.02
Central African Republic             79.82
Chad                                 70.02
Comoros                             226.12
Democratic Republic of the Congo     57.22
Djibouti                             44.42
Egypt                                50.92
Equatorial Guinea                    85.92
Eritrea                              90.22
Eswatini                             47.34
Ethiopia                             44.22
Gabon                                53.62
Ghana                                61.92
Guinea                               75.82
Guinea-Bissau                        52.02
Ivory Coast                          56.62
Kenya                                43.72
Lesotho                              20.12
Liberia                              52.72
Libya                                39.12
Madagascar                           44.82
Malawi                               41.02
Mali                                 61.02
Mauritania                           73.52
Mauritius                            28.72
Morocco                              52.32
Mozambique                           42.62
Namibia                              27.22
Niger                                53.72
Nigeria                              41.32
Republic of the Congo                60.82
Rwanda                               39.72
Senegal                              51.32
Seychelles                           36.62
Sierra Leone                         37.22
Somalia                              47.34
South Africa                         35.72
South Sudan                          37.92
Sudan                                51.92
Tanzania                             50.32
The Gambia                           54.92
Togo                                 54.72
Tunisia                              67.22
Uganda                               40.22
Zambia                               22.12
Zimbabwe                             38.12
Name: total_tax_rate, dtype: float64)


**3. Ejercicios prueba de hipótesis: Hasta ahora en la lección y en los ejercicios de la clase invertida os hemos propuesto un contexto y unas hipótesis para entender que es la prueba de hipótesis. Ahora es tu turno, tienes que pensar en 2 hipótesis que quieras aceptar o rechazar usando una prueba de hipótesis en base a los datos que tenemos.**

In [19]:
print(df.to_string())

                              country  density abbreviation  agricultural_land   land_area  armed_forces_size  birth_rate  calling_code      capital/major_city  co2-emissions       cpi  cpi_change currency-code  fertility_rate  forested_area  gasoline_price           gdp  gross_primary_education_enrollment  gross_tertiary_education_enrollment  infant_mortality             largest_city  life_expectancy  maternal_mortality_ratio  minimum_wage       official_language  out_of_pocket_health_expenditure  physicians_per_thousand  population  population_labor_force_participation  tax_revenue  total_tax_rate  unemployment_rate  urban_population   latitude   longitude        continent
0                         Afghanistan   60.000           AF          58.100000  652.230000         323.000000   32.490000     93.000000                   Kabul        8.67200  149.9000    2.300000           AFN        4.470000       2.100000        0.700000  1.910135e+10                          104.000000                             9.700000         47.900000                    Kabul        64.500000                638.000000      0.430000                  Pashto                         78.400000                  0.28000  333.542718                             48.900000     9.300000       71.400000          11.120000        279.461044  33.939110   67.709953             Asia
1                             Albania  105.000           AL          43.100000   28.748000           9.000000   11.780000    355.000000                  Tirana        4.53600  119.0500    1.400000           ALL        1.620000      28.100000        1.360000  1.527808e+10                          107.000000                            55.000000          7.800000                   Tirana        78.500000                 15.000000      1.120000                Albanian                         56.900000                  1.20000  333.542718                             55.700000    18.600000       36.600000          12.330000        279.461044  41.153332   20.168331           Europe
2                             Algeria   18.000           DZ          17.400000  255.212661         317.000000   24.280000    213.000000                 Algiers      150.00600  151.3600    2.000000           DZD        3.020000       0.800000        0.280000  1.699882e+11                          109.900000                            51.400000         20.100000                  Algiers        76.700000                112.000000      0.950000                  Arabic                         28.100000                  1.72000  333.542718                             41.200000    37.200000       66.100000          11.700000        279.461044  28.033886    1.659626           Africa
3                             Andorra  164.000           AD          40.000000  468.000000         103.783133    7.200000    376.000000        Andorra la Vella      469.00000  144.1936    6.722346           EUR        1.270000      34.000000        1.510000  3.154058e+09                          106.400000                            37.963388          2.700000         Andorra la Vella        72.279679                160.392265      6.630000                 Catalan                         36.400000                  3.33000   77.142000                             62.738068    16.573964       40.822404           6.886364         67.873000  42.506285    1.521801           Europe
4                              Angola   26.000           AO          47.500000  255.212661         117.000000   40.730000    244.000000                  Luanda       34.69300  261.7300   17.100000           AOA        5.520000      46.300000        0.970000  9.463542e+10                          113.500000                             9.300000         51.600000                   Luanda        60.800000                241.000000      0.710000              Portuguese                         33.400000                  0.21000  333.542718                             77.500000     9.200000       49.100000           6.890000        279.461044 -11.202692   17.873887           Africa
5                 Antigua and Barbuda  223.000           AG          20.500000  443.000000           0.000000   15.330000      1.000000  St. John's, Saint John      557.00000  113.8100    1.200000           XCD        1.990000      22.300000        0.990000  1.727759e+09                          105.000000                            24.800000          5.000000   St. John's, Saint John        76.900000                 42.000000      3.040000                 English                         24.300000                  2.76000   97.118000                             62.738068    16.500000       43.000000           6.886364         23.800000  17.060816  -61.796428  Central America
6                           Argentina   17.000           AR          54.300000  255.212661         105.000000   17.020000     54.000000            Buenos Aires      201.34800  232.7500   53.500000           ARS        2.260000       9.800000        1.100000  4.496634e+11                          109.700000                            90.000000          8.800000             Buenos Aires        76.500000                 39.000000      3.350000                 Spanish                         17.600000                  3.96000  333.542718                             61.300000    10.100000      106.300000           9.790000        279.461044 -38.416097  -63.616672    South America
7                             Armenia  104.000           AM          58.900000   29.743000          49.000000   13.990000    374.000000                 Yerevan        5.15600  129.1800    1.400000           AMD        1.760000      11.700000        0.770000  1.367280e+10                           92.700000                            54.600000         11.000000                  Yerevan        74.900000                 26.000000      0.660000                Armenian                         81.600000                  4.40000  333.542718                             55.600000    20.900000       22.600000          16.990000        279.461044  40.069099   45.038189             Asia
8                           Australia    3.000           AU          48.200000  255.212661          58.000000   12.600000     61.000000                Canberra      375.90800  119.8000    1.600000           AUD        1.740000      16.300000        0.930000  1.392681e+12                          100.300000                           113.100000          3.100000                   Sydney        82.700000                  6.000000     13.590000                 Unknown                         19.600000                  3.68000  333.542718                             65.500000    23.000000       47.400000           5.270000        279.461044 -25.274398  133.775136          Oceania
9                             Austria  109.000           AT          32.400000   83.871000          21.000000    9.700000     43.000000                  Vienna       61.44800  118.0600    1.500000           EUR        1.470000      46.900000        1.200000  4.463147e+11                          103.100000                            85.100000          2.900000                   Vienna        81.600000                  5.000000      2.194133                  German                         17.900000                  5.17000  333.542718                             60.700000    25.400000       51.400000           4.670000        279.461044  47.516231   14.550072           Europe
10                         Azerbaijan  123.000           AZ          57.700000   86.600000          82.000000   14.000000    994.000000                    Baku       37.62000  156.3200    2.600000           AZN        1.730000      14.100000        0.560000  3.920700e+10                           99.700000                            27.700000         19.200000                     Baku        72.900000                 26.000000      0.470000    Azerbaijani language                         78.600000                  3.45000  333.542718                             66.500000    13.000000       40.700000           5.510000        279.461044  40.143105   47.576927             Asia
11                        The Bahamas   39.000           BS           1.400000   13.880000           1.000000   13.970000      1.000000         Nassau, Bahamas        1.78600  116.2200    2.500000       Unknown        1.750000      51.400000        0.920000  1.282700e+10                           81.400000                            15.100000          8.300000          Nassau, Bahamas        73.800000                 70.000000      5.250000                 English                         27.800000                  1.94000  389.482000                             74.600000    14.800000       33.800000          10.360000        323.784000  25.034280  -77.396280  Central America
12                            Bahrain    2.239           BH          11.100000  765.000000          19.000000   13.990000    973.000000                  Manama       31.69400  117.5900    2.100000           BHD        1.990000       0.800000        0.430000  3.857407e+10                           99.400000                            50.500000          6.100000                    Riffa        77.200000                 14.000000      2.194133                  Arabic                         25.100000                  0.93000  333.542718                             73.400000     4.200000       13.800000           0.710000        279.461044  26.066700   50.557700             Asia
13                         Bangladesh    1.265           BD          70.600000  148.460000         221.000000   18.180000    880.000000                   Dhaka       84.24600  179.6800    5.600000           BDT        2.040000      11.000000        1.120000  3.025713e+11                          116.500000                            20.600000         25.100000                    Dhaka        72.300000                173.000000      0.510000                 Bengali                         71.800000                  0.58000  333.542718                             59.000000     8.800000       33.400000           4.190000        279.461044  23.684994   90.356331             Asia
14                           Barbados  668.000           BB          23.300000  430.000000           1.000000   10.650000      1.000000              Bridgetown        1.27600  134.0900    4.100000           BBD        1.620000      14.700000        1.810000  5.209000e+09                           99.400000                            65.400000         11.300000               Bridgetown        79.100000                 27.000000      3.130000                 English                         45.200000                  2.48000  287.025000                             65.200000    27.500000       35.600000          10.330000         89.431000  13.193887  -59.543198  Central America
15                            Belarus   47.000           BY          42.000000  207.600000         155.000000    9.900000    375.000000                   Minsk       58.28000  144.1936    5.600000           BYN        1.450000      42.600000        0.600000  6.308046e+10                          100.500000                            87.400000          2.600000                    Minsk        74.200000                  2.000000      1.490000                 Russian                         34.500000                  5.19000  333.542718                             64.100000    14.700000       53.300000           4.590000        279.461044  53.709807   27.953389           Europe
16                            Belgium  383.000           BE          44.600000   30.528000          32.000000   10.300000     32.000000        City of Brussels       96.88900  117.1100    1.400000           EUR        1.620000      22.600000        1.430000  5.296067e+11                          103.900000                            79.700000          2.900000                 Brussels        81.600000                  5.000000     10.310000                  French                         17.600000                  3.07000  333.542718                             53.600000    24.000000       55.400000           5.590000        279.461044  50.503887    4.469936           Europe
17                             Belize   17.000           BZ           7.000000   22.966000           2.000000   20.790000    501.000000                Belmopan      568.00000  105.6800   -0.900000           BZD        2.310000      59.700000        1.130000  1.879614e+09                          111.700000                            24.700000         11.200000              Belize City        74.500000                 36.000000      1.650000                 English                         22.700000                  1.12000  390.353000                             65.100000    26.300000       31.100000           6.410000        179.039000  17.189877  -88.497650  Central America
18                              Benin  108.000           BJ          33.300000  112.622000          12.000000   36.220000    229.000000              Porto-Novo        6.47600  110.7100   -0.900000           XOF        4.840000      37.800000        0.720000  1.439071e+10                          122.000000                            12.300000         60.500000                  Cotonou        61.500000                397.000000      0.390000                  French                         40.500000                  0.08000  333.542718                             70.900000    10.800000       48.900000           2.230000        279.461044   9.307690    2.315834           Africa
19                             Bhutan   20.000           BT          13.600000   38.394000           6.000000   17.260000    975.000000                 Thimphu        1.26100  167.1800    2.700000       Unknown        1.980000      72.500000        0.980000  2.446674e+09                          100.100000                            15.600000         24.800000                  Thimphu        71.500000                183.000000      0.320000                Dzongkha                         19.800000                  0.42000  727.145000                             66.700000    16.000000       35.300000           2.340000        317.538000  27.514162   90.433601             Asia
20                            Bolivia   11.000           BO          34.800000  255.212661          71.000000   21.750000    591.000000                   Sucre       21.60600  148.3200    1.800000           BOB        2.730000      50.300000        0.710000  4.089532e+10                           98.200000                            37.963388         21.800000  Santa Cruz de la Sierra        71.200000                155.000000      1.360000                 Spanish                         25.900000                  1.59000  333.542718                             71.800000    17.000000       83.700000           3.500000        279.461044 -16.290154  -63.588653    South America
21             Bosnia and Herzegovina   64.000           BA          43.100000   51.197000          11.000000    8.110000    387.000000                Sarajevo       21.84800  104.9000    0.600000           BAM        1.270000      42.700000        1.050000  2.004785e+10                          102.470213                            23.300000          5.000000             Tuzla Canton        77.300000                 10.000000      1.040000                 Bosnian                         28.600000                  2.16000  333.542718                             46.400000    20.400000       23.700000          18.420000        279.461044  43.915886   17.679076           Europe
22                           Botswana    4.000           BW          45.600000  581.730000           9.000000   24.820000    267.000000                Gaborone        6.34000  149.7500    2.800000           BWP        2.870000      18.900000        0.710000  1.834051e+10                          103.200000                            24.900000         30.000000                 Gaborone        69.300000                144.000000      0.290000                 English                          5.300000                  0.37000  333.542718                             70.800000    19.500000       25.100000          18.190000        279.461044 -22.328474   24.684866           Africa
23                             Brazil   25.000           BR          33.900000  255.212661         730.000000   13.920000     55.000000                 Bras���      462.29900  167.4000    3.700000           BRL        1.730000      58.900000        1.020000  1.839758e+12                          115.400000                            51.300000         12.800000                    S����        75.700000                 60.000000      1.530000              Portuguese                         28.300000                  2.15000  333.542718                             63.900000    14.200000       65.100000          12.080000        279.461044 -14.235004  -51.925280    South America
24                             Brunei   83.000           BN           2.700000    5.765000           8.000000   14.900000    673.000000     Bandar Seri Begawan        7.66400   99.0300   -0.400000           BND        1.850000      72.100000        0.370000  1.346942e+10                          103.200000                            31.400000          9.800000                  Unknown        75.700000                 31.000000      2.194133                   Malay                          6.000000                  1.61000  433.285000                             64.700000    16.573964        8.000000           9.120000        337.711000   4.535277  114.727669             Asia
25                           Bulgaria   64.000           BG          46.300000  110.879000          31.000000    8.900000    359.000000                   Sofia       41.70800  114.4200    3.100000           BGN        1.560000      35.400000        1.110000  8.600000e+10                           89.300000                            71.000000          5.900000                    Sofia        74.900000                 10.000000      1.570000               Bulgarian                         47.700000                  4.03000  333.542718                             55.400000    20.200000       28.300000           4.340000        279.461044  42.733883   25.485830           Europe
26                       Burkina Faso   76.000           BF          44.200000  274.200000          11.000000   37.930000    226.000000             Ouagadougou        3.41800  106.5800   -3.200000           XOF        5.190000      19.300000        0.980000  1.574581e+10                           96.100000                             6.500000         49.000000              Ouagadougou        61.200000                320.000000      0.340000                  French                         36.100000                  0.08000  333.542718                             66.400000    15.000000       41.300000           6.260000        279.461044  12.238333   -1.561593           Africa
27                            Burundi  463.000           BI          79.200000   27.830000          31.000000   39.010000    257.000000               Bujumbura      495.00000  182.1100   -0.700000           BIF        5.410000      10.900000        1.210000  3.012335e+09                          121.400000                             6.100000         41.000000                Bujumbura        61.200000                548.000000      2.194133                 Kirundi                         19.100000                  0.10000  333.542718                             79.200000    13.600000       41.200000           1.430000        279.461044  -3.373056   29.918886           Africa

In [20]:
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230000,323.000000,32.49,93.0,Kabul,8.672,149.9000,2.300000,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.700000,47.9,Kabul,64.500000,638.000000,0.43,Pashto,78.4,0.28,333.542718,48.900000,9.300000,71.400000,11.120000,279.461044,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748000,9.000000,11.78,355.0,Tirana,4.536,119.0500,1.400000,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.000000,7.8,Tirana,78.500000,15.000000,1.12,Albanian,56.9,1.20,333.542718,55.700000,18.600000,36.600000,12.330000,279.461044,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,255.212661,317.000000,24.28,213.0,Algiers,150.006,151.3600,2.000000,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.400000,20.1,Algiers,76.700000,112.000000,0.95,Arabic,28.1,1.72,333.542718,41.200000,37.200000,66.100000,11.700000,279.461044,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000000,103.783133,7.20,376.0,Andorra la Vella,469.000,144.1936,6.722346,EUR,1.27,34.0,1.51,3.154058e+09,106.4,37.963388,2.7,Andorra la Vella,72.279679,160.392265,6.63,Catalan,36.4,3.33,77.142000,62.738068,16.573964,40.822404,6.886364,67.873000,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,255.212661,117.000000,40.73,244.0,Luanda,34.693,261.7300,17.100000,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.300000,51.6,Luanda,60.800000,241.000000,0.71,Portuguese,33.4,0.21,333.542718,77.500000,9.200000,49.100000,6.890000,279.461044,-11.202692,17.873887,Africa

## Diferencia entre H0 y H1

La principal diferencia entre la hipótesis nula (H0) y la hipótesis alternativa (H1) radica en la afirmación que hacen:

- **H0 (Hipótesis Nula):** Afirma que no hay efecto, no hay diferencia o no hay relación significativa en la población subyacente. Es la afirmación inicial que se somete a prueba y que se considera verdadera hasta que haya evidencia suficiente para rechazarla.

- **H1 (Hipótesis Alternativa):** Afirma que existe un efecto, una diferencia o una relación significativa en la población subyacente. Es la afirmación que estás tratando de demostrar con los datos de la muestra.

**PRIMERA HIPÓTESIS**
Queremos determinar si existe una diferencia significativa entre las emisiones de CO2 por cada continente: 
- H0 > No existe diferencia significativa 
- H1 > Sí existe diferencia entre ambos "valores"

In [21]:
# Comprobamos la hipótesis con la prueba ANOVA
anova= f_oneway(df[df['continent'] == 'Asia']['co2-emissions'],
                df[df['continent'] == 'Europe']['co2-emissions'],
                df[df['continent'] == 'Africa']['co2-emissions'],
                df[df['continent'] == 'Central America']['co2-emissions'],
                df[df['continent'] == 'South America']['co2-emissions'],
                df[df['continent'] == 'Oceania']['co2-emissions'],
                df[df['continent'] == 'North America']['co2-emissions'])

# Comprobamos el resultado 
if anova.pvalue < 0.05:
    print("Rechazamos hipótesis nula. Existe una diferencia significativa")
else:
    print("No podemos rechazar la hipótesis nula. No hay suficiente diferencia.")

No podemos rechazar la hipótesis nula. No hay suficiente diferencia.

**SEGUNDA HIPÓTESIS**
Queremos saber si existe relación significativa entre la tasa de esperanza de vida y continentes. 
- H0 > No existe relación entre la esperanza de vida y el PIB. 
- H1 > Sí existe relación.

In [22]:
# Comprobamos la hipótesis con la prueba ANOVA
anova= f_oneway(df[df['continent'] == 'Asia']['life_expectancy'],
                df[df['continent'] == 'Europe']['life_expectancy'],
                df[df['continent'] == 'Africa']['life_expectancy'],
                df[df['continent'] == 'Central America']['life_expectancy'],
                df[df['continent'] == 'South America']['life_expectancy'],
                df[df['continent'] == 'Oceania']['life_expectancy'],
                df[df['continent'] == 'North America']['life_expectancy'])

# Comprobamos el resultado 
if anova.pvalue < 0.05:
    print("Rechazamos hipótesis nula. Existe una diferencia significativa")
else:
    print("No podemos rechazar la hipótesis nula. No hay suficiente diferencia.")

Rechazamos hipótesis nula. Existe una diferencia significativa